body{
  background:#020617;
  color:white;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.box{
  width:300px;
  padding:20px;
  border:2px solid cyan;
  box-shadow:0 0 20px cyan;
  text-align:center;
}

input,button{
  width:100%;
  padding:10px;
  margin-top:8px;
}

button{
  cursor:pointer;
  background:cyan;
  border:none;
  font-weight:bold;
}

.link{
  font-size:12px;
  cursor:pointer;
  margin-top:8px;
  color:#67e8f9;
}

.hidden{
  display:none;
}
