body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.title {
  margin-top: 40px;
}

.login-box {
  margin: 100px auto;
  width: 250px;
}

.login-box input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.big-btn {
  font-size: 24px;
  padding: 20px;
}

.menu button {
  margin: 10px;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}
